h1 {
    
}

body {
    background: url(https://pixabay.com/get/gebcf658ce395c4453686ae28a931729f58ffb82f19ce0af9dcddf6424082693d929bf6c93dc9d686a67333398e6b593be8d404e274f62747197dde43e86b9d1d_1920.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}

.poem::-webkit-scrollbar {
    background-color: transparent;
}

.poem::-webkit-scrollbar-thumb {
    background-color: #777777;
}

.signed {
    font-size: 9pt;
    color: #FFFFFF;
    opacity: 1;
}

div .poem {
    width: 300px;
    height: 700px;
}

nobr { 
    position: relative;
    padding-bottom: 3px;
}

#submit{
    position: relative;
    top: -40px;
    left: 55px;
    float: right;
    font-size: 20px;
}

#form-bottom {
    line-height: 20pt;
}

#poem {
    width: 300px;
}

#imglink {
    width: 220px;
}

#signature {
    width: 247px;
}

#formwrap{
    width: 305px;
}

#imglink{
    position: relative;
}

.poem {
    background: #A8AAAF;
    overflow: auto;
}

.poems {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;
    grid-template-rows: 1fr 1fr;
    color: black;
}

.poems p {
    margin-left: 10px;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: -2px;
    line-height: 80%;
}

.image {
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 25px;
}