body {
    background: black;
    color: white;
}

div {
    width: 300px;
    height: 700px;
}

.poem {
    background: #AAAAAA;
}

.poems {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;
    grid-template-rows: 1fr 1fr;
    color: black;
}

.poems p {
    margin-left: 10px;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: -2px;
    line-height: 80%;
}

.image {
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 25px;
}

#first {
    opacity: 1;
}

#second {
    opacity: .9;
}

#third {
    opacity: .8;
}

#fourth {
    opacity: .7;
}

#fifth {
    opacity: .6;
}

#sixth {
    opacity: .5;
}

#seventh {
    opacity: .4;
}
#eighth {
    opacity: .3;
}

#ninth {
    opacity: .2;
}

#tenth {
    opacity: .15;
}

#eleventh {
    opacity: .1;
}

#twelfth {
    opacity: 0;
}